doctype html
html
  include includes/head.pug

  body
    include includes/navbar.pug

    .container.mt-5
      .row
        .col
          form(method='post', enctype='multipart/form-data')
            .row
              .col
                h1= business.name
              .col-2
                input.btn.btn-primary(type='submit', value='Spara')
            .row.mt-5
              .col
                label
                  strong Kontaktperson i INKA
                .form-group
                  input.form-control(type='text', disabled, value=business.inka.name + ' <' + business.inka.username + '>')
                label
                  strong Er kontaktperson
                .form-group
                  input.form-control(type='text', name='contact[name]', placeholder='Namn på kontaktperson', value=business.contact.name, required)
                .form-group
                  input.form-control(type='email', name='contact[email]', placeholder='Epost till kontaktperson', value=business.contact.email, required)
            .row.mt-5
              .col
                h3 Avtalskontakt
            .row
              .col
                label
                  strong Avtalstecknare
                .form-group
                  input.form-control(type='text', name='billing[signer][name]', placeholder='Namn på avtalstecknare', value= business.billing.signer.name)
                .form-group
                  input.form-control(type='email', name='billing[signer][email]', placeholder='Epost till avtalstecknare', value= business.billing.signer.email)
                .form-group
                  input.form-control(type='text', name='billing[signer][phone]', placeholder='Telefonnummer till avtalstecknare', value= business.billing.signer.phone)
            .row
              .col
                label
                  strong Företagsadress
                .form-group
                  input.form-control(type='text', name='billing[address]', placeholder='Faktureringsaddress', value= business.billing.address)
            .row
              .col
                label
                  strong Organisationsnummer
                .form-group
                  input.form-control(type='text', name='billing[orgNumber]', placeholder='Organisationsnummer', value= business.billing.orgNumber)
            .row.mt-5
              .col
                h3 Marknadsföringsinformation
            .row
              .col
                label
                  strong Företagspitch (video)

                .form-group
                  input(type='hidden', name='media[pitch]', value= business.media.pitch ? 'keep' : 'none')

                  if business.media.pitch
                    p
                      a(href='/media/' + business.username + '/' + business.media.pitch.name, target='blank')
                        em= business.media.pitch.name
                      a.removeFile(href='#', onclick='removeFile(event)', data-file='pitch', data-accept-mimes= mimes.pitch, title='Ta bort fil') Ta bort fil
                  else 
                    input.form-control-file(type='file', name='pitch', accept= mimes.pitch)
            .row
              .col
                label
                  strong Logotyp (SVG,EPS,PNG)

                .form-group
                  input(type='hidden', name='media[logo]', value= business.media.logo ? 'keep' : 'none')

                  if business.media.logo
                    p
                      a(href='/media/' + business.username + '/' + business.media.logo.name, target='blank')
                        em= business.media.logo.name
                      a.removeFile(href='#', onclick='removeFile(event)', data-file='logo', data-accept-mimes= mimes.logo, title='Ta bort fil') Ta bort fil
                  else 
                    input.form-control-file(type='file', name='logo', accept= mimes.logo)
            .row
              .col
                label
                  strong Poster (PDF,SVG,EPS)

                .form-group
                  input(type='hidden', name='media[poster]', value= business.media.poster ? 'keep' : 'none')

                  if business.media.poster
                    p
                      a(href='/media/' + business.username + '/' + business.media.poster.name, target='blank')
                        em= business.media.poster.name
                      a.removeFile(href='#', onclick='removeFile(event)', data-file='poster', data-accept-mimes= mimes.poster, title='Ta bort fil') Ta bort fil
                  else 
                    input.form-control-file(type='file', name='poster', accept= mimes.poster)
            .row.mt-3
              .col
                label
                  strong Om oss (50-150 ord)
                .form-group
                  textarea.form-control(name='info[about]')= business.info.about
            .row.mt-3
              .col
                label
                  strong Vi erbjuder
                each offer in business.info.offers
                  .form-check
                    input.form-check-input(type='checkbox', checked=offer.value, name='info[offers][]', value= offer.name)
                    label.form-check-label= offer.name
            .row.mt-3
              .col
                label
                  strong Vi riktar in oss mot

                .form-check
                  input.form-check-input(type='checkbox', name= 'info[targets][y1]', checked= business.info.targets.y1)
                  label.form-check-label
                    em Åk 1
                .form-check
                  input.form-check-input(type='checkbox', name= 'info[targets][y2]', checked= business.info.targets.y2)
                  label.form-check-label
                    em Åk 2
                .form-check
                  input.form-check-input(type='checkbox', name= 'info[targets][y3]', checked= business.info.targets.y3)
                  label.form-check-label
                    em Åk 3
                .form-check
                  input.form-check-input(type='checkbox', name= 'info[targets][y4]', checked= business.info.targets.y4)
                  label.form-check-label
                    em Åk 4
                .form-check
                  input.form-check-input(type='checkbox', name= 'info[targets][y5]', checked= business.info.targets.y5)
                  label.form-check-label
                    em Åk 5 
            .row.mt-3
              .col
                label
                  strong I:ares roll hos oss (50-100 ord)
                .form-group
                  textarea.form-control(name='info[role]')= business.info.role
            .row
              .col
                label
                  strong Vi värdesätter (40-80 ord)
                .form-group
                  textarea.form-control(name='info[values]')= business.info.values
            .row
              .col
                label
                  strong Visste du att (max 50 ord)
                .form-group
                  textarea.form-control(name='info[didYouKnow]')= business.info.didYouKnow
            .row
              .col
                label
                  strong Länkar (inget måste)
                
                .form-group
                  label Hemsida
                  input.form-control(type='text', placeholder='tex https://isek.se', name='info[social][website]', value= business.info.social.website)
                .form-group
                  label Linkedin
                  input.form-control(type='text', placeholder='tex https://www.linkedin.com/company/sektionen-för-industriell-ekonomi/', name='info[social][linkedin]', value= business.info.social.linkedin)
                .form-group
                  label Facebook
                  input.form-control(type='text', placeholder='tex https://www.facebook.com/Isektionen', name='info[social][facebook]', value= business.info.social.facebook)
                .form-group
                  label Instagram
                  input.form-control(type='text', placeholder='tex https://www.instagram.com/isektionen_lth', name='info[social][instagram]', value= business.info.social.instagram)



    include includes/footer.pug
    include includes/scripts.pug
    script(src='/js/dashboard/fileUtils.js')