doctype html
html
  include includes/head.pug

  body
    include includes/navbar.pug

    .container.mt-5
      form(method='post', enctype='multipart/form-data')
        .row
          .col
            input.form-control.mb-1(type='text', placeholder='Visningsnamn', name='name', value=business.name)
            h6.text-monospace.text-secondary= business.username
          .col-2
            input.btn.btn-primary(type='submit', value='Spara')
        .row.mt-5
          .col
            label
              strong Kontaktperson på företaget
            .form-group
              input.form-control(type='text', name='contact[name]', placeholder='Namn på kontaktperson', value=business.contact.name, required)
            .form-group
              input.form-control(type='email', name='contact[email]', placeholder='Epost till kontaktperson', value=business.contact.email, required)
            label
              strong Kontaktperson i INKA
            .form-group
              select.form-control(name='inka')
                each admin in admins
                  option(value=admin.username, selected= business.inka.username === admin.username)= admin.name
            label
              strong Non-profit
            .form-group
              select.form-control(name='nonProfit')
                option(value='false', selected= !business.nonProfit) Nej
                option(value='true', selected= business.nonProfit) Ja
        .row.mt-5
          .col
            h3 Avtalskontakt
        .row
          .col
            label
              strong Avtalstecknare

            .input-group
              .input-group-prepend
                span.input-group-text Namn
              input.form-control(type='text', name='billing[signer][name]', value= business.billing.signer.name)
            .input-group.mt-2
              .input-group-prepend
                span.input-group-text Email
              input.form-control(type='email', name='billing[signer][email]', value= business.billing.signer.email)
            .input-group.mt-2
              .input-group-prepend
                span.input-group-text Tel
              input.form-control(type='text', name='billing[signer][phone]', value= business.billing.signer.phone)
        .row.mt-3
          .col
            label
              strong Företagsadress
            .form-group
              input.form-control(type='text', name='billing[address]', value= business.billing.address)
        .row
          .col
            label
              strong Organisationsnummer
            .form-group
              input.form-control(type='text', name='billing[orgNumber]', value= business.billing.orgNumber)
        .row.mt-5
          .col
            h3 Anmälan
        .row.mb-1
          .col
            label
              strong Deltagande
            .form-group
              select.form-control(name='registration[participation]')
                option(value='physical', selected= business.registration.participation === 'physical') Den fysiska mässan
                option(value='digital', selected= business.registration.participation === 'digital') Den digitala mässan
                option(value='both', selected= business.registration.participation === 'both') Både den fysiska och digitala mässan
        .row
          .col
            label
              strong Tillägg 

            .form-check
              input.form-check-input(type='checkbox', disabled, checked)
              label.form-check-label Baspaket (ingår i grunderbjudandet)

            each addon in business.registration.addons
              .form-check
                input.form-check-input(type='checkbox', name='registration[addons][]' , checked= addon.value, value= addon.name)
                label.form-check-label= addon.name + (addon.price !== 0 ? ' (' + addon.price + ' kr)' : '' )
        .row.mt-5
          .col
            h3 Marknadsföring
          // TODO Break out title to config and loop through instead
        .row
          .col
            label
              strong Företagspitch (video)
            
            .form-group
              input(type='hidden', name='media[pitch]', value= business.media.pitch ? 'keep' : 'none')

              if business.media.pitch
                p
                  a(href='/media/' + business.username + '/' + business.media.pitch.name, target='blank')
                    em= business.media.pitch.name
                  a.removeFile(href='#', onclick='removeFile(event)', data-file='pitch', data-accept-mimes= mimes.pitch, title='Ta bort fil') Ta bort fil
              else 
                input.form-control-file(type='file', name='pitch', accept= mimes.pitch)
        .row
          .col
            label
              strong Logotyp (SVG,EPS,PNG)
            
            .form-group
              input(type='hidden', name='media[logo]', value= business.media.logo ? 'keep' : 'none')

              if business.media.logo
                p
                  a(href='/media/' + business.username + '/' + business.media.logo.name, target='blank')
                    em= business.media.logo.name
                  a.removeFile(href='#', onclick='removeFile(event)', data-file='logo', data-accept-mimes= mimes.logo, title='Ta bort fil') Ta bort fil
              else 
                input.form-control-file(type='file', name='logo', accept= mimes.logo)
        .row
          .col
            label
              strong Poster (PDF,SVG,EPS)
            
            .form-group
              input(type='hidden', name='media[poster]', value= business.media.poster ? 'keep' : 'none')

              if business.media.poster
                p
                  a(href='/media/' + business.username + '/' + business.media.poster.name, target='blank')
                    em= business.media.poster.name
                  a.removeFile(href='#', onclick='removeFile(event)', data-file='poster', data-accept-mimes= mimes.poster, title='Ta bort fil') Ta bort fil
              else 
                input.form-control-file(type='file', name='poster', accept= mimes.poster)
        
        .row.mt-3
          .col
            label
              strong Om oss (50-150 ord)
            .form-group
              textarea.form-control(name='info[about]')= business.info.about
        .row.mt-3
          .col
            label
              strong Vi erbjuder
            each offer in business.info.offers
              .form-check
                input.form-check-input(type='checkbox', checked=offer.value, name='info[offers][]', value= offer.name)
                label.form-check-label= offer.name
        .row.mt-3
          .col
            label
              strong Vi riktar in oss mot

            .form-check
              input.form-check-input(type='checkbox', name= 'info[targets][y1]', checked= business.info.targets.y1)
              label.form-check-label
                em Åk 1
            .form-check
              input.form-check-input(type='checkbox', name= 'info[targets][y2]', checked= business.info.targets.y2)
              label.form-check-label
                em Åk 2
            .form-check
              input.form-check-input(type='checkbox', name= 'info[targets][y3]', checked= business.info.targets.y3)
              label.form-check-label
                em Åk 3
            .form-check
              input.form-check-input(type='checkbox', name= 'info[targets][y4]', checked= business.info.targets.y4)
              label.form-check-label
                em Åk 4
            .form-check
              input.form-check-input(type='checkbox', name= 'info[targets][y5]', checked= business.info.targets.y5)
              label.form-check-label
                em Åk 5 
        .row.mt-3
          .col
            label
              strong I:ares roll hos oss (50-100 ord)
            .form-group
              textarea.form-control(name='info[role]')= business.info.role
        .row
          .col
            label
              strong Vi värdesätter (40-80 ord)
            .form-group
              textarea.form-control(name='info[values]')= business.info.values
        .row
          .col
            label
              strong Visste du att (max 50 ord)
            .form-group
              textarea.form-control(name='info[didYouKnow]')= business.info.didYouKnow
        .row
          .col
            label
              strong Länkar (inget måste)
            
            .form-group
              label Hemsida
              input.form-control(type='text', placeholder='tex https://isek.se', name='info[social][website]', value= business.info.social.website)
            .form-group
              label Linkedin
              input.form-control(type='text', placeholder='tex https://www.linkedin.com/company/sektionen-för-industriell-ekonomi/', name='info[social][linkedin]', value= business.info.social.linkedin)
            .form-group
              label Facebook
              input.form-control(type='text', placeholder='tex https://www.facebook.com/Isektionen', name='info[social][facebook]', value= business.info.social.facebook)
            .form-group
              label Instagram
              input.form-control(type='text', placeholder='tex https://www.instagram.com/isektionen_lth', name='info[social][instagram]', value= business.info.social.instagram)


    include includes/footer.pug
    include includes/scripts.pug
    script(src='/js/dashboard/fileUtils.js')
